{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>haberler</title>
</head>
<body>
{% for haber in haberler %}
    <div>
        <h3><a href="{% url 'detail' haber.pk %}">{{ haber.baslik }}</a></h3>
        <p>{{ haber.yayinlanma_tarihi }}</p>
        <p>{{ haber.icerik|linebreaksbr }}</p>
    </div>
    ******************************
{% endfor %}
<br>

<button id="btn" value="acaba">acaba</button>
{% block javascript %}
	<script>
		$('#btn').click(function(){
			$('div').hide();
		});
	</script>
{% endblock %}
</body>
</html>